.vscode/
.DS_Store
logs/
.ipynb_checkpoints/

.venv/

models/
data/

__pycache__/

# uv environment files
.uv/
.uvs/

# Screenshots
screenshots/

# Plots
plots/

# Latex compile files
report/*.aux
report/*.log
report/*.out
report/*.synctex.gz
report/*.pdf
report/*.bbl
report/*.blg
report/*.dvi
report/*.fls
report/*.fdb_latexmk
report/*.lof
report/*.lot
report/*.toc
report/*.vrb
report/*.zip

process